<div class="container section scrollspy" id="themes">
    <div class="section">
        <div id="overflowTest">

            {{#each cars}}


            <table>
                <tr>
                    <td>
                        <img class="someClass" src="{{photo}}" width="400" height="400">


                    </td>
                    <td>
                        <table class="striped">
                            <tr>
                                <td>
                                    <p>model: {{model}} </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>fuelType1: {{fuelType1}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>VClass: {{VClass}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>trany: {{trany}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>createdOn: {{createdOn}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>Cost: {{fuelCost08}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <a class="waves-effect waves-light btn" href="https://www.{{make}}.com">For
                                        Sales</a>
                                </td>

                            </tr>

                        </table>
                <tr>



                    </td>

                </tr>
                </td>
                </tr>

            </table>

            {{!-- {{comment}}
<form  action="/add/comment" method="POST">

                             <div class="input-field col s6">
        <input name="comment" id="comment" type="text" class="validate">
        <label for="comment">id</label>
      </div>



                           <button class="waves-effect waves-light btn" type="submit">Add car</button>
                        </form> --}}

            {{/each}}



            <div class="container">
                <form action="https://formspree.io/zaid.fadel89@yahoo.com" method="POST">
                    <label for="email">Email</label>
                    <input type="text" class="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">

                    <label for="subject">Subject</label>
                    <input type="text" class="subject" name="subject">

                    <label for="message">Message
                        <textarea class="message" name="message" style="height:200px"></textarea></label>
                    <div class="status"></div>
                    <button type="subnits" class="subnits waves-effect waves-light btn">send </button>
                </form>
            </div>
        </div>
    </div>
</div>