<h2>car!</h2>



<input id="myInput" type="text" placeholder="Search..">
<br><br>


<br>

{{#each info}}
<div class="one">

      <li><a href="https://www.carmax.com/cars?search={{model}}"><img class="someClass" src="{{photo}}" width="200"
                        height="200"></a>
            {{model}}</li>


</div>
{{/each}}


<h2 id="cars-increment">car!</h2>
<div class="red">hi</div>
<div style="border:dotted;height:100px ">
      {{#each info}}
      {{!-- <li style="float:left;color:rgb(71, 255, 86);  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;" id="cars">{{id}}.{{model}} .<br><br>
        <img class="someClass" src="{{photo}}" width="200" height="200">. <br><br><br><br><br>{{trany}}
    </li> --}}
      {{photo}} {{drive}}
      {{/each}}