<h2>car!</h2>


<div class="container section scrollspy" id="themes">
    <div class="section">
        <div id="overflowTest">
            {{#each info}}


            <table>
                <tr>
                    <td>
                        <img class="someClass" src="{{photo}}" width="400" height="400">


                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <p>model: {{model}} </p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>fuelType1: {{fuelType1}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>VClass: {{VClass}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>trany: {{trany}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>createdOn: {{createdOn}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <p>Cost: {{fuelCost08}}</p>
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <a class="waves-effect waves-light btn"
                                        href="https://www.carmax.com/cars?search={{model}}">For Sales</a>
                                </td>

                            </tr>

                        </table>
                <tr>



                    </td>

                </tr>
                </td>
                </tr>

            </table>


            {{/each}}

        </div>
    </div>
</div>