 <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s6">
          <input  id="make" type="text" class="validate">
          <label for="make">Make</label>
        </div>
        <div class="input-field col s6">
          <input id="model" type="text" class="validate">
          <label for="model">Model</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <input id="eng_dscr" type="password" class="validate">
          <label for="eng_dscr">eng dscr</label>
        </div>
     
     
        <div class="input-field col s6">
          <input id="photo" type="email" class="validate">
          <label for="photo">Photo</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="drive" type="password" class="validate">
          <label for="drive">Drive</label>
        </div>
     
     
        <div class="input-field col s6">
          <input id="fuelType1" type="email" class="validate">
          <label for="fuelType1">fuelType1</label>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field col s6">
          <input id="VClass" type="password" class="validate">
          <label for="VClass">VClass</label>
        </div>
     
        <div class="input-field col s6">
          <input id="trany" type="email" class="validate">
          <label for="trany">trany</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s6">
          <input id="createdOn" type="password" class="validate">
          <label for="createdOn">createdOn</label>
        </div>
     
        <div class="input-field col s6">
          <input id="fuelCost08" type="email" class="validate">
          <label for="fuelCost08">fuelCost08</label>
        </div>
      </div>

    </form>
  </div>
        

{{!-- <h1>h1</h1>
         {{#each cars.info}}
<div class="box">
<li>
 <a href="https://www.carmax.com/cars?search={{model}}"> <img class="someClass" src="{{photo}}" width="200" height="200"></a>
  {{id}}.<div class="searc" >{{model}}</div>
 . {{trany}}
</li>
</div>
{{/each}} --}}