{{!-- <h2>Cats that are not sleepy!</h2>




 <label>Browser Select</label>
  {{#each cars}}
 <form action="https://www.{{make}}/{{model}}" method="GET">
  
    <input type="submit" value="{{make}}{{model}}">
    
</form>
{{/each}}

=======
<label>Browser Select</label> --}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <title>Materialize themes</title>

    <!-- CSS  -->
    <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link rel="stylesheet" href="css/font-awesome-4.3.0/css/font-awesome.min.css">
    <link async="" href="http://fonts.googleapis.com/css?family=Berkshire%20Swash" rel="stylesheet" type="text/css">
    <link async="" href="http://fonts.googleapis.com/css?family=Bad%20Script" rel="stylesheet" type="text/css">
    <link async="" href="http://fonts.googleapis.com/css?family=Aclonica" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="images/favicon (10).ico" type="image/x-icon">
    <link rel="icon" href="images/favicon (10).ico" type="image/x-icon">
    <link rel="stylesheet" href="https://use.edgefonts.net/c/a709e5/1w;arizonia,2,WXG:W:n4/l" media="all">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="navbar" class="navbar-fixed scrollspy">
        <nav class="pink lighten-1">
            <div class="nav-wrapper container">
                <div class="container"> <a href="#navbar" class="brand-logo mLogo" style="margin-top: 15px;  color: white;
  text-shadow: 5px 5px 6px black, 0 0 25px blue, 0 0 5px darkblue"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp Premiere</a></div>

                <a style="" href="#" data-activates="mobile-demo" class="button-collapse"><i
                        class="mdi-navigation-menu"></i></a>
                <ul class="right hide-on-med-and-down">

                    <li><a class="head-link" style=" text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF" href="#themes">View
                            cars</a></li>
                    <li><a class="head-link" style=" text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF"
                            href="#snippets">photos</a></li>

                </ul>

            </div>
        </nav>
    </div>

    <div id="index-banner" class="parallax-container valign-wrapper">
        <div class="section no-pad-bot">
            <div class="valign">
                <br>
                {{!-- &nbsp &nbsp &nbsp  --}}
                <h1 class="header center titleFont" style="color: #ec407a "> &nbsp &nbsp
                    &nbsp &nbsp
                    &nbsp &nbsp &nbsp &nbsp
                    &nbsp Materialize Themes</h1>
                <div class="row center">
                    <h5 class="header col s12 subTitleFont" style="color: #ec407a;"> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                        &nbsp &nbsp &nbsp &nbsp &nbsp Free themes built
                        using a modern
                        responsive front-end framework <a target="_blank" style=" color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue" href="http://materializecss.com/">
                            "Materialize"</a> <br>which is based on
                        <a style=" color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue"
                            href="http://www.google.com/design/spec/material-design/introduction.html">"Material
                            Design"</a> </h5>
                </div>
                <div class="row center">
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                    &nbsp
                    &nbsp &nbsp &nbsp &nbsp
                    <a href="#themes" class="btn-large waves-effect waves-light head-link"
                        style="background-color: #ec407a">View themes</a>
                </div>
                <br><br>
            </div>
        </div>
        <div class="parallax"><img
                src="data:image/gif;base64,R0lGODlhAQABAIABAP///wAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                alt="Unsplashed background img 2"
                style="background-image: url(&quot;images/newpink.jpg&quot;); bottom: -342.162px; display: block;">
        </div>
    </div>

    <div class="container section scrollspy" id="themes">
        <div class="section">
            <br>
            <br>
            <h4 class="center introHead" style="color: #ec407a">Materialize themes</h4>
            <br>
            <div class="row">
                <div class="col s12 m12 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/parallex.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Parallax theme<i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <br>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialParallaxTemplate/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialParallaxTemplate/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialParallaxTemplate" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                        <div class="card-reveal" style="transform: translateY(0px);">
                            <span class="card-title grey-text text-darken-4">Parallax theme <i
                                    class="mdi-navigation-close right"></i></span>
                            <p>Parallax is an effect where the background content or image in this case, is moved at a
                                different speed than the foreground content while scrolling
                            </p>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialParallaxTemplate/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialParallaxTemplate/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialParallaxTemplate" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                    </div>
                    <!--card-->
                </div>

                <div class="col s12 m12 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/slider.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Slider theme<i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <br>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialSliderTheme/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialSliderTheme/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialSliderTheme" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Slider theme <i
                                    class="mdi-navigation-close right"></i></span>
                            <p>Slider is a simple and elegant image carousel with captions.
                            </p>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialSliderTheme/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialSliderTheme/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialSliderTheme" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                    </div>
                    <!--card-->
                </div>


                <div class="col s12 m12 l4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/blog.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Materialize blog<i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <br>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterializeBlog/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterializeBlog/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterializeBlog" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Materialize blog<i
                                    class="mdi-navigation-close right"></i></span>
                            <p>Theme features four HTML pages including a blog index, an about page, a sample post, and
                                a contact page and footer with sign up form and social links.
                            </p>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterializeBlog/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterializeBlog/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterializeBlog" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                    </div>
                    <!--card-->
                </div>
                <!--col-->
            </div>
            <!--row-->

            <div class="row">
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/signUp.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">SignUp form<i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <br>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialSignUpForm/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialSignUpForm/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialSignUpForm" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">SignUp form<i
                                    class="mdi-navigation-close right"></i></span>
                            <p>SignUp form with icon prefixes to make the form input label even more clear.
                            </p>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialSignUpForm/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialSignUpForm/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialSignUpForm" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                    </div>
                    <!--card-->
                </div>
                <!--col-->

                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/Contact.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Material Contact form<i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <br>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialContactForm/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialContactForm/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialContactForm" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Material contact form<i
                                    class="mdi-navigation-close right"></i></span>
                            <p>SignUp form with icon prefixes to make the form input label even more clear.
                            </p>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialContactForm/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialContactForm/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialContactForm" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                    </div>
                    <!--card-->
                </div>
                <!--col-->


                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="images/starter.png">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">Stater template<i
                                    class="mdi-navigation-more-vert right"></i></span>
                            <br>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialStarterTemplate/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialStarterTemplate/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialStarterTemplate" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">Starter template<i
                                    class="mdi-navigation-close right"></i></span>
                            <p>Starter page with a Header, Icon Features and Footer.
                            </p>
                            <p>
                                <a href="http://swarnakishore.github.io/MaterialStarterTemplate/" target="_blank"
                                    title="view"><i class="fa fa-eye" style="font-size: 25px;"></i></a> &nbsp; &nbsp;
                                &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialStarterTemplate/archive/gh-pages.zip"
                                    target="_blank" title="download"><i style="font-size: 25px;"
                                        class="fa fa-download"></i></a>
                                &nbsp; &nbsp; &nbsp; &nbsp;
                                <a href="https://github.com/SwarnaKishore/MaterialStarterTemplate" target="_blank"
                                    title="view on github"><i class="fa fa-github" style="font-size: 25px;"></i></a>
                            </p>
                        </div>
                    </div>
                    <!--card-->
                </div>
                <!--col-->
            </div>
            <!--row-->


        </div>
    </div>




    <!--snippets-->
    <div class="container scrollspy" id="snippets">
        <h4 class="center introHead" style="color: #ec407a">Materialize Snippets</h4>
        <div class="row">

            <a href="http://codepen.io/Swarna_Kishore/pen/BNwOjv" target="_blank">
                <div class="col s12 l4">
                    <div class="card-panel teal lighten-2 waves-effect waves-light snippets">
                        <span class="white-text" style="font-size: 20px;"> Fixed Sidebar
                        </span>
                    </div>
                </div>
            </a>

            <a href="http://codepen.io/Swarna_Kishore/pen/jPawgd" target="_blank">
                <div class="col s12 l4">
                    <div class="card-panel teal lighten-2 waves-effect waves-light snippets">
                        <span class="white-text" style="font-size: 20px;"> Collapsible
                        </span>
                    </div>
                </div>
            </a>

            <a href="http://codepen.io/Swarna_Kishore/pen/JdOgZJ" target="_blank">
                <div class="col s12 l4">
                    <div class="card-panel teal lighten-2 waves-effect waves-light snippets">
                        <span class="white-text" style="font-size: 20px;"> Navbar
                        </span>
                    </div>
                </div>
            </a>

        </div>
        <!--row-->

        <div class="row">

            <a href="http://codepen.io/Swarna_Kishore/pen/MwrjQW" target="_blank">
                <div class="col s12 l4">
                    <div class="card-panel teal lighten-2 waves-effect waves-light snippets">
                        <span class="white-text" style="font-size: 20px;"> Slider
                        </span>
                    </div>
                </div>
            </a>


        </div>
        <!--row-->
    </div>
    <!--container-->

    {{#each cars}}
    <form action="/about/{{model}}" method="GET">

        <input type="submit" value="{{model}}">

    </form>
    {{/each}}



    <footer class="page-footer" style="background-color: #ec407a">

        <div class="footer-copyright">
            <div class="container">
                <p>Copyright © Materialize themes</p>
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>
    <script type="text/javascript" script-name="arizonia" src="http://use.edgefonts.net/arizonia.js"></script>
    <script>
        $(document).ready(function () {
            $('.materialboxed').materialbox();
            $('.button-collapse').sideNav();
            $('.parallax').parallax();
        });
    </script>
    <script>
        $('.head-link').click(function (e) {
            e.preventDefault();

            var goto = $(this).attr('href');

            $('html, body').animate({
                scrollTop: $(goto).offset().top
            }, 800);
        });

    </script>





    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-60673008-2', 'auto');
        ga('send', 'pageview');
    </script>







    <div class="hiddendiv common"></div>
    <div class="drag-target"
        style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
    </div>
</body>

</html>

