
<div class="container section scrollspy" id="themes">
    <div class="section">
        <br>
        <br>
         <br>
        
        <nav>
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" type="search" >
          {{!-- <input id="myInput" type="text" placeholder="Search.."> --}}
          <label   class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>


        <div id="overflowTest">


            {{#each info}}
            <div class="row">

               

                    <!--col-->
                   
<br>
 
                    <div class="col s12 m6">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                   <div class="one ">
                                <li><a href="about/model/{{model}}"><img class="someClass" src="{{photo}}" width="200"
                                            height="200"></a>{{model}}</li>
                                   </div>
                            </div>
                            <div class="card-content">
                                <span class="card-title activator grey-text text-darken-4"><i
                                        class="mdi-navigation-more-vert right"></i></span>
                                <br>
                                
                            </div>
                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">seal $ {{fuelCost08}}<i
                                        class="mdi-navigation-close right">{{trany}}</i><p>hjhjhjhjhjhjhjhjhj</p></span>
                                
                               
                            </div>
                        </div>
                        <!--card-->
                    </div> 
                    <!--col-->
               
                <!--row-->

            </div>
            {{/each}}
        </div>
    </div>
</div>






<footer class="page-footer" style="background-color: #ec407a">

    <div class="footer-copyright">
        <div class="container">
            <p>Copyright © Materialize themes</p>
        </div>
    </div>
</footer>




<div class="hiddendiv common"></div>
<div class="drag-target"
    style="left: 0px; touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
</div>